.modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  .modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.4);
  }
  .modal {
    background: white;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }
  &.fade-in {
    opacity: 1;
    transition: opacity linear 0.15s;
  }
  &.fade-out {
    opacity: 0;
    transition: opacity linear 0.15s;
  }
  @media screen and (max-width: 35rem) {
    .modal {
      padding: 1rem;
      margin: 1rem;
    }
  }
}
