form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  label {
    font-size: 1.5rem;
  }
  nav {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    button {
      background: transparent;
      border: none;
      width: 2rem;
      height: 2rem;
      margin-left: 0.1rem;
      border-radius: 1rem;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        background: hsla(0, 0%, 0%, 0.2);
      }
    }
    i {
      font-size: 1.1rem;
    }
  }
  time {
    margin-right: auto;
  }
  .eye {
    width: 3rem;
    height: 3rem;
  }
  .eye-detail-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
  }
  .eye-details {
    display: flex;
    margin-right: 1rem;
  }
  .eye-detail {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .condition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      flex-grow: 1;
      display: inline-flex;
      align-items: center;
      font-size: 1.2rem;
      text-transform: capitalize;
      text-decoration: underline;
    }
  }
  textarea {
    margin-top: 0.5rem;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  input {
    // min-width: 5rem;
    width: 100%;
  }
  @media screen and (max-width: 35rem) {
    .modal {
      padding: 1rem;
    }
  }
}
