.log-item {
  ul {
    display: grid;
    grid-template-columns: 5% 20% 10% 10% 8% 1fr;
    width: 100%;
    cursor: pointer;
    &:hover {
      background: hsla(0, 0%, 0%, 0.2);
    }
    transition: 0.3s;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  }
  li {
    list-style: none;
    padding: 1rem;
    text-overflow: ellipsis;
  }
  @media screen and (max-width: 55rem) {
    ul {
      grid-template-columns: auto 1.5fr 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "id timestamp left-eye right-eye condition"
        "note note note note note";
    }
    .id {
      grid-area: id;
    }
    .timestamp {
      grid-area: timestamp;
    }
    .left-eye {
      grid-area: left-eye;
    }
    .right-eye {
      grid-area: right-eye;
    }
    .condition {
      grid-area: condition;
    }
    .note {
      grid-area: note;
    }
  }
  @media screen and (max-width: 35rem) {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "timestamp timestamp timestamp"
        "left-eye right-eye condition"
        "note note note";
      justify-content: center;
    }
    .id {
      display: none;
    }
    li {
      text-align: center;
    }
  }
}
