.page-header {
  background: hsla(0, 0%, 0%, 0.7);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  h1 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
  button {
    background: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    margin-left: 0.1rem;
    border-radius: 1rem;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background: hsla(0, 0%, 0%, 0.2);
    }
  }
  i {
    color: white;
    font-size: 1.1rem;
  }
}
